{% extends "layout.html" %} {% block body %}

<div
  class="container d-flex flex-column justify-content-center align-items-center h-100"
>
  <div id="image-box" class="mt-3 w-100">
    <div class="row">
      {% for image in images %}
      <div class="col mb-4">
        <img
          src="{{ url_for('static', filename='uploads/' + image.file_name) }}"
          class="response-image mb-2"
        />
        <p>{{ image.file_name }}</p>
        <form
          id="deleteForm"
          action="{{ url_for('image_chat.delete', file_name=image.file_name) }}"
          method="post"
        >
          <button
            type="submit"
            class="btn btn-danger btn-sm"
            onclick="return confirmDelete()"
          >
            Delete
          </button>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
  <div
    class="chat-form-container text-center w-100 flex-grow-1 d-flex flex-column justify-content-end"
  >
    <div
      class="d-flex mb-3 align-items-center justify-content-center"
      style="width: 90%"
    >
		<div style="width: 10%">
			<a
			href="{{ url_for('image_chat.chat') }}"
			class="btn btn-secondary me-3 btn-sm"
			><i class="bi bi-arrow-left"></i> Back</a
			>
		</div>
		<div
			id="loadingSpinner"
			class="spinner-border me-1"
			role="status"
			style="display: none;"
		>
			<span class="visually-hidden">Loading...</span>
		</div>
      <div class="input-group" style="width: 70%">
        <input
          type="file"
          id="image-input"
          accept="image/*"
          class="form-control"
        />
        <button class="btn btn-success" type="submit" id="image-upload-button">
          <i class="bi bi-upload"></i> Upload
        </button>
      </div>
    </div>
    <div class="chat-instructions text-center w-50 mx-auto mb-1">
      Click Button to Upload Image
    </div>
  </div>
</div>

<style>
  #image-box {
    max-height: 700px;
    overflow-y: auto;
  }
  .chat-instructions {
    color: #999;
    font-size: 12px;
  }
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  .image-size {
    width: 1.5em;
    height: 1.5em;
  }
  .response-image {
    width: 150px;
    height: 150px;
  }
</style>

<script>
  function confirmDelete() {
    if (confirm("Are you sure ? This action cannot be undone.")) {
      return true;
    } else {
      return false;
    }
  }
</script>

<script>
  function showLoadingSpinner() {
    document.getElementById("loadingSpinner").style.display = "block";
  }
  function hideLoadingSpinner() {
    document.getElementById("loadingSpinner").style.display = "none";
  }

  document
    .getElementById("image-upload-button")
    .addEventListener("click", function (e) {
      e.preventDefault();
      const imageInput = document.getElementById("image-input");
      if (imageInput.files.length === 0) {
        alert("Please select an image file.");
        return;
      }
      const formData = new FormData();
      formData.append("image-input", imageInput.files[0]);

      showLoadingSpinner();
      fetch("/upload_image", {
        method: "POST",
        body: formData,
      })
        .then((response) => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error("Same File Name Exists.");
          }
        })
        .then((data) => {
          hideLoadingSpinner();
          imageInput.value = "";
          alert("Uploaded Image Successfully!");
          window.location.reload();
          const imageBox = document.getElementById("image-box");
          imageBox.scrollTop = imageBox.scroll;
        })
        .catch((error) => {
          hideLoadingSpinner();
          alert("Error: " + error.message);
        });
    });
</script>

{% endblock %}
