{% extends "layout.html" %}

{% block body %}

<div class="container mt-5">
	<div class="mb-5">
    <h1 class="text-center">User's Manual <i class="bi bi-book"></i></h1>
    <p class="text-center">This page will help you understand how to use and the features of our chat application.</p>
	</div>

	<div>
		<hr>
    <section id="judge-fairness" class="mt-2">
        <h2 class="text-center">Judge Fairness by Chat</h2><br>
        <h4>Features</h4>
        <p>
						<!-- TODO : ここにメッセージの送り方を書く -->
            how to use judge fairness by chat and features
        </p>
        <h4>How to Use</h4>
        <p>
						<!-- TODO : ここにメッセージの送り方を書く -->
            how to use judge fairness by chat and features
        </p>
    </section>
		<hr>
    <section id="features" class="mt-2">
        <h2 class="text-center">Image Search</h2><br>
        <h4>Features</h4>
        <p>
					<!-- TODO : ここにアプリの特徴を書く -->
            how to use image search and features
        </p>
        <h4>How to Use</h4>
        <p>
					<!-- TODO : ここにアプリの特徴を書く -->
            how to use image search and features
        </p>
    </section>
		<hr>
	</div>
</div>

{% endblock %}
