{% extends "layout.html" %}

{% block body %}

<!-- TODO : 適宜マニュアルを記述 -->
<div class="container mt-5" style="overflow-y: auto;">
	<div class="mb-5">
    <h1 class="text-center"><i class="bi bi-book"></i> User's Manual</h1>
    <p class="text-center">This page will help you understand how to use and the features of our chat application.</p>
	</div>

	<div>
		<hr>
    <section id="judge-fairness" class="mt-2">
        <h2 class="text-center"><i class="bi bi-chat-dots"></i> Judge Fairness by Chat</h2><br>
        <h4>Features</h4>
            <ul>
                <li>This chat can judge the fairness and error of the uploaded PDF or text.</li>
                <li>As a result of the judgment, it will output <b>"I presume this Input does not contain incorrect information."</b> or <b>"This Input contains incorrect information and biases."</b></li>
                <li>If errors are included, <b>"discrimination・prejudice"</b> or <b>"error"</b> will be returned along with the corresponding sentence.</li>
                <li>This chat will not respond to other sentences.</li>
                <li>Users can use these responses as a reference to reconsider their manuscript.</li>
            </ul>
        <h4>How to Use</h4>
            <ol>
                <li>Enter the manuscript you want checked in the PDF or text box.</li>
                <li>Please Click Send Button or Shift + Enter</li>
                <li>Wait for the response.</li>
                <li>Check the response. The user views the response and reconsiders the manuscript.</li>
                <li>Repeat the above steps until the user is satisfied with the manuscript.</li>
            </ol>
        <h5><i class="bi bi-exclamation-octagon"></i> Caution</h5>
        <p>This chat may not be able to completely eliminate mistakes and AI bias, but it will make you realize things that you would not notice on your own.</p>
    </section>
		<hr>
    <section id="features" class="mt-2">
        <h2 class="text-center"><i class="bi bi-clipboard-check"></i> Feedback</h2><br>
        <h4>Features</h4>
            <ul>
                <li>In <b>Feedback</b>, enter the feedback collected from people who listened to your presentation.</li>
                <li>It extracts features from a large amount of feedback and tells you.</li>
            </ul>
        <h4>How to Use</h4>
            <ol>
                <li>Enter the collected feedback in the PDF or text box.</li>
                <li>Please Click Send Button or Shift + Enter</li>
                <li>Wait for the response.</li>
                <li>Check the responses and use them for your next presentation.</li>
            </ol>
        <h5><i class="bi bi-exclamation-octagon"></i> Caution</h5>
        <p>We cannot guarantee that all feedback can be successfully extracted.</p>
        <p>However, it will give you a summary so you don't have to read everything.</p>
    </section>
    <hr>
    <section id="features" class="mt-2">
        <h2 class="text-center"><i class="bi bi-search"></i> Image Search</h2><br>
        <h4>Features</h4>
            <ul>
                <li><b>Image Search</b> searches for the image you want to use from the images uploaded in advance.</li>
                <li>It takes input as text and outputs an image with a label that is highly relevant to the input.</li>
                <li>Calculate the cosine similarity between the search word and vectors in the database and display images with high similarity.</li>
                <li>This feature supports selecting images when creating slides</li>
                <li>By registering images that are likely to be used for slide creation in advance, it will be easier to find them when you want to use them.</li>

            </ul>
        <h4>How to Use</h4>
        <p>
            <b>Search</b>
        </p>
            <ol>
                <li>Enter a sentence or a list of words in the input box on the right. </li>
                <li>Then, an image related to the entered sentence or word will be output.</li>

            </ol>
        <h5><i class="bi bi-exclamation-octagon"></i> Caution</h5>
        <p>Only registered images can be used. Relevance is determined by labeling images. If the labels are incorrect, the correct results may not be returned.</p>
    </section>
		<hr>
    <section>
        <h2 class="text-center"><i class="bi bi-images"></i> Images List</h2><br>
        <h4>Features</h4>
            <ul>
                <li>You can view the list of registered images, delete them, and register new images.</li>
                <li>When registering an image, add a description using GPT4, vectorize it using ADA, and save it in the database.</li>
            </ul>
        <h4>How to Use</h4>
        <p><b>Register</b></p>
            <ol>
                <li>Select image in the input box on the left</li>
                <li>Press the upload button to save the image to storage</li>
                <li>At this time, the image name and label are also saved in the database.</li>
                <li>Follow the steps above to register multiple images.</li>
            </ol>
        <p>
            <b>Delete</b>
        </p>
            <ol>
                <li>Press the button below the image you want to delete, then press OK when confirmed.</li>
                <li>Then, an image related to the entered sentence or word will be output.</li>

            </ol>
        <h5><i class="bi bi-exclamation-octagon"></i> Caution</h5>
        <p>There is a limit to the number of images that can be registered. Please refrain from registering too many.</p>
        <p>Deleted images cannot be restored. You need to register again.</p>
    </section>
	</div>
</div>

{% endblock %}
